/*  #M8 aula #3: Exercício Uma página de apresentação - landing page

*/
*{
    box-sizing: content-box;
}
body{
    margin: 0;
    font-family: 'Fredoka One', cursive;
}
header{
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #fff600;
    width: 100%;
    font-family: 'Fredoka One', cursive;
    box-shadow: 1px 1px 5px #222;
}
#pageHome{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
header div{
    display: flex;
    justify-content: center;
    padding: 0px 35px;
}
header img{
    width: 100px;
    object-fit: contain;
}
header h1{
    font-size: 50px;
    color: #3b91ce;
    text-shadow: 2px 2px 3px #fff;
    margin: 15px 0px;
    padding-right: 20px;
    text-align: center;
    width: 200px;
}
header h2{
    font-size: 33px;
    color: #eb2421;
    text-shadow: 2px 2px 3px #fff;
    margin: 0px;
    border-left: 3px solid #fff;
    padding-left: 35px;
    align-self: center;
    max-width: 241px;
}

.container{
    display: flex;
    width: 800px;
}
section{
    width: 100%;
    display: flex;
    justify-content: center;
}
#produtoContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.produtoArea{
    height: auto;
    background-color: #fff;
    display: flex;
    margin-top: 30px;
    justify-content: center;
     /* background: linear-gradient(#fff, #222); 180deg valor padrão */
}
#mainImageContainer{
    margin-right: 30px;
    margin-top: 90px;
    padding-left: 20px;
}
#mainImageContainer #productImage{
    cursor: pointer;
    object-fit: cover;
    height: 538px;
    width: 365px;
    padding-bottom: 10px;
}   
#imgMiniatura, #imgMiniatura--MobileResponsive{
    display: flex;
    border-top: 1px solid #777;
    padding-top: 10px;
    margin-bottom: 25px;
}
#imgMiniatura img, #imgMiniatura--MobileResponsive img{
    height: 90px;
    margin-top: 5px;
    cursor: pointer;
    object-fit: contain;
    margin-left: 5px;
    box-shadow: 1px 1px 2px #777;
    margin-right: 5px;
}
#imgMiniatura--MobileResponsive{
    display: none;
}
#produtcDiscriptionSide{
    max-width: 327px;
    padding-right: 20px;
}
section h1{
    color: #fff600;
    font-size: 37px;
    text-shadow: 3px 3px 3px #5699c0;
}
#price{
    font-size: 62px;
    color: #eb2421;
    text-shadow: 3px 3px 3px #5699c0;
    margin-bottom: 13px;
}
#painelItenscompra form{
    display: flex;
    justify-content: space-around;  
}

label{
    text-shadow: 2px 2px 2px #5699c0;
    color: #eb2421;;
    align-self: center;
    font-size: 25px;
    display: flex; 
    flex-direction: column;
}

input[type='number']{
    margin-top: 5px;
    font-size: 28px;
    width: 53px;
    padding: 4px 8px;
    color: #eb2421;
    font-family: 'Fredoka One', cursive;
    border-radius: 4px;
    text-shadow: 2px 2px 2px #5699c0;
}
button{
    width: 170px;
    border-radius: 4px;
    background-color: #fff600;
    color: #5699c0;
    text-shadow: 2px 2px 2px #FFF;
    font-size: 25px;
    padding: 15px 5px;
    border: 1px solid #222;
    font-family: 'Fredoka One', cursive;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
}
#produtcDiscriptionSide button:hover{
    background-color: #30dd20;
    color: #ffffff;
    text-shadow: 2px 2px 2px #5699c0;
}
#sendIt:hover{
    background-color: #fcf777;

}

#description{
    margin-top: 40px;
}
p{
    text-align: justify;
    font-size: 16px;
    line-height: 24px;
    color: #777;
    font-family: arial, sans-serif;
    text-shadow: 0px 0px 1px rgb(70, 68, 68);
}
#infoProduct{
    background-color: #5699c0;
    padding: 30px 0px;
}
#infoProduct .container div{
    flex: 1;
    padding: 0px 20px;
}
#infoProduct p{
    color: #fff;
    text-shadow: 1px 1px 1px rgb(70, 68, 68);
    text-align: left;
}
h3{
    color: #fff600;
    font-size: 27px;
    text-shadow: 1px 1px 1px rgb(70, 69, 69);
}

#registerArea{
    padding-right: 50px;
}
#sectionCad{
    margin-top: 70px;
}
#sectionCad img{
    width: 400px;
}
#sectionCad button{
    width: 100%;
}
input[type='email']{
    font-size: 15px;
    width: 100%;
    height: 30px;
    border-radius: 4px;
    margin-bottom: 10px;
}
footer{
    background-color: #222;
    height: 120px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
footer .container{
    padding: 20px 30px;
    flex-direction: column;
    padding: 20px 13px;
}
footer .container p{
    margin: 0px;
    margin-top: 5px;
}
footer .container a{
    font-size: 16px;
    line-height: 25px;
    color: #777;
    font-family: arial, sans-serif;
    text-shadow: 0px 0px 1px rgb(70, 68, 68);
    text-decoration: none;
    cursor: pointer;
}
footer  .container #linkTorT{
    color: #eb2421;
}
footer .container #linkGITHub{
    color: #5699c0;
}
footer  .container #linkTorT:hover{
    color: #e65a58;
}
footer .container #linkGITHub:hover{
    color: #80a3b8;
}

@media (max-width: 800px){
    .container{
        width: auto;
    }
}
@media (max-width: 776px){
    #sectionCad{
        flex-direction: column;
        align-items: center;
    }
    #sectionCad img{
        width: 390px;
    }
    #sectionCad form{
        width: 270px;
    }
    #registerArea{
        display: flex;
        flex-direction: column;    
        align-items: center;  
        padding-right: 0px;
    }
    #registerArea form{
        display: flex;
        flex-direction: column;
        margin-bottom: 70px;
    }
    #registerArea h1{
        margin-top: 0px;
        width: 295px;
    }
    footer p, #linkGITHub, #linkTorT{
        font-size: 17px;
        text-align: center;
    }
}
@media (max-width: 721px){

    #infoProduct .container{
        display: flex;
        flex-direction: column;
    }
    #infoProduct .container h3{
        text-align: center;
    }
    #infoProduct .container p{
        text-align: center;
        padding: 0px 25px;
    }
    #infoProduct .container div{
        padding: 0px;
    }
}

@media(max-width: 711px){
    header div{
        flex-direction: column;
    }
    header h1, header h2{
        margin: 0px;
    }
    header h1{
        font-size: 27px;
        width: 100px;
        margin-top: 7px;
        margin-bottom: 4px;
    }
    header h2{
        border: 0;
        font-size: 18px;
        margin-bottom: 8px;
        padding-left: 0;
    }
    header img{
        width: 50px;
        margin-top: 7px;
    }
    .produtoArea{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }
    #mainImageContainer{
        margin-right: 0px;
        margin-top: 30px; 
        padding-left: 0px;
    }
    #imgMiniatura{
        display: none;
    }
    #imgMiniatura--MobileResponsive{
        display: flex;
    } 
    #painelItenscompra{
        width: 283px;
    }
    #description{
        margin-bottom: 40px;
        padding: 0px 20px;      
    }
    #produtcDiscriptionSide h1{
        padding-left: 20px;
        margin: 13px 0px;
    }
    #produtcDiscriptionSide{
        max-width: 1000px;/* Para retirar o definido de 327px, para conseguir ficar largura automática */
        width: auto;
        padding: 0px 35px;
    }
    #price, #painelItenscompra{
        padding-left: 30px;
    }
}
@media (max-width: 540px){
    #registerArea{
        padding-right: 0px;
    }
    footer p, #linkGITHub, #linkTorT{
        font-size: 13px;
    }
}
@media (max-width: 477px){
    #mainImageContainer #productImage {
        height: 438px;
        width: 299px;
    }
    #imgMiniatura img, #imgMiniatura--MobileResponsive img {
        height: 55px;
    }
}
@media(max-width: 404px){
    #produtoContainer {
        max-width: 300px;
        margin: auto;
    }
    .produtoArea {
        max-width: 300px;
    }
    #mainImageContainer {
        margin-right: 0px;
        margin-top: 30px;
    }
    #sectionCad img {
        width: 307px;
    }
    #mainImageContainer #productImage {
        height: 400px;
        width: 272px;
    }
    #produtcDiscriptionSide {
        padding: 0px 7px;
    }
    #price, #painelItenscompra {
        padding-left: 20px;
    }
    
}