/*  #M8 aula #3: Exercício Uma página de apresentação - landing page

*/
*{
    box-sizing: content-box;
}
body{
    margin: 0;
    font-family: 'Fredoka One', cursive;
}
header{
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #fff600;
    width: 100%;
    font-family: 'Fredoka One', cursive;
    box-shadow: 1px 1px 5px #222;
}
#pageHome{
    width: 400px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}
header img{
    width: 140px;
    object-fit: contain;
    margin-left: 20px;
}
header h1{
    font-size: 60px;
    color: #3b91ce;
    text-shadow: 2px 2px 3px #fff;
    margin-left: 30px;
}
header h2{
    font-size: 40px;
    color: #eb2421;
    text-shadow: 2px 2px 3px #fff;
    margin: 0px;
    border-left: 3px solid #fff;
    padding: 15px 30px 15px;
    align-self: center;
}

.container{
    display: flex;
    width: 800px;
}
section{
    width: 100%;
    display: flex;
    justify-content: center;
}
#produtoContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.produtoArea{
    height: auto;
    background-color: #fff;
    display: flex;
    margin-top: 50px;
    justify-content: center;
     /* background: linear-gradient(#fff, #222); 180deg valor padrão */
}
#ImagesContainer{
    display: flex;
    flex-direction: column;
    margin-right: 45px;
    margin-top: 45px;
}
#mainImageContainer{
    display: flex;
}
#mainImageContainer #productImage{
    cursor: pointer;
    object-fit: cover;
    height: 600px;
    width: 410px;
    padding-bottom: 10px;
}   
#imgMiniatura, #imgMiniaturaResponsivo{
    padding-top: 10px;
    margin-bottom: 25px;
}
#imgMiniatura{
    display: flex;
    border-top: 1px solid #777;
}
#imgMiniaturaResponsivo{
    display: none;
    flex-direction: column;
    width: 50px;
    padding-right: 10px;
}
#imgMiniatura img, #imgMiniaturaResponsivo img{
    height: 110px;
    margin-top: 5px;
    cursor: pointer;
    object-fit: contain;
    margin-left: 15px;
    box-shadow: 1px 1px 2px #777;
    padding-right: 5px;
}
#produtcDiscriptionSide{
    width: 300px;
}
section h1{
    color: #fff600;
    font-size: 45px;
    text-shadow: 3px 3px 3px #5699c0;
}
.price{
    font-size: 60px;
    color: #eb2421;
    text-shadow: 3px 3px 3px #5699c0;
    margin-bottom: 13px;
}
.painelItenscompra form{
    display: flex;
    justify-content: space-between;
}
label{
    text-shadow: 2px 2px 2px #5699c0;
    color: #eb2421;;
    align-self: center;
    font-size: 25px;
}

input[type='number']{
    margin-top: 5px;
    font-size: 28px;
    width: 50px;
    color: #eb2421;
    font-family: 'Fredoka One', cursive;
    padding: 4px;
    text-shadow: 2px 2px 2px #5699c0;
}
input[type='number'], button{
    border-radius: 4px;
    padding-left: 10px;
}
button{
    width: 200px;
    height: 60px;
    background-color: #fff600;
    color: #5699c0;
    text-shadow: 2px 2px 2px #FFF;
    font-size: 30px;
    padding: 5px;
    border: 1px solid #222;
    font-family: 'Fredoka One', cursive;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
}
#produtcDiscriptionSide button:hover{
    background-color: #30dd20;
    color: #ffffff;
    text-shadow: 2px 2px 2px #5699c0;
}
#sendIt:hover{
    background-color: #fcf777;

}

#description{
    margin-top: 40px;
}
#descriptionResponsivo{
    display: none;
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
}
p{
    text-align: justify;
    font-size: 20px;
    line-height: 25px;
    color: #777;
    font-family: arial, sans-serif;
    text-shadow: 0px 0px 1px rgb(70, 68, 68);
}
#infoProduct{
    background-color: #5699c0;
}
#infoProduct .container div{
    flex: 1;
    padding: 15px;
}
#infoProduct p{
    color: #fff;
    text-shadow: 1px 1px 1px rgb(70, 68, 68);
    text-align: left;
}
h3{
    color: #fff600;
    font-size: 27px;
    text-shadow: 1px 1px 1px rgb(70, 69, 69);
}

#sectionCad .container div{
    margin-top: 50px;
    align-self: flex-start;
}
#sectionCad img{
    width: 470px;
}
#sectionCad button{
    margin-left: 165px;
}
input[type='email']{
    font-size: 22px;
    width: 370px;
    height: 30px;
    border-radius: 4px;
    margin-bottom: 10px;
}
footer{
    background-color: #222;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
}
footer .container{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 15px;
}
footer .container p{
    margin: 0px;
    margin-top: 5px;
}
footer .container a{
    font-size: 22px;
    line-height: 25px;
    color: #777;
    font-family: arial, sans-serif;
    text-shadow: 0px 0px 1px rgb(70, 68, 68);
    text-decoration: none;
    cursor: pointer;
}
footer  .container #linkTorT{
    color: #eb2421;
}
footer .container #linkGITHub{
    color: #5699c0;
}
footer  .container #linkTorT:hover{
    color: #e65a58;
}
footer .container #linkGITHub:hover{
    color: #80a3b8;
}


@media(max-width:920px){
  
    #ImagesContainer{
        margin-right: 20px;
    }

    #mainImageContainer #productImage{
        height: 410px;
        width: 280px;
        margin-left: 10px;
    }   
    #imgMiniaturaResponsivo img{
        height: 70px;
        margin-top: 5px;
        cursor: pointer;
        object-fit: contain;
        margin-left: 15px;
    }
    #produtcDiscriptionSide{
        width: 230px;
    }
    #produtoContainer .container{
        width: auto;
    }
    button{
        font-size: 25px;
    }

    section h1{
        font-size: 40px;
    }
    .price{
        font-size: 50px;
    }
    label{
        font-size: 20px;
    }
    #description{
        display: none;
    }
    #descriptionResponsivo{
        display: block;
    }
    #imgMiniatura{
        display: none;
    }
    #imgMiniaturaResponsivo{
        display: flex;
    }
    #sectionCad{
        flex-direction: column;
        align-items: center;
    }
    #sectionCad img{
        width: 390px;
    }
    #registerArea{
        display: flex;
        flex-direction: column;
        
    }
    #registerArea div{
        display: flex;
        justify-content: flex-end;
    }
    #registerArea form{
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }
    footer p, #linkGITHub, #linkTorT{
        font-size: 17px;
    }
    

}

@media (max-width:730px){

    header .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #pageHome{
        width: 300px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    header img{
        width: 90px;
    }
    header h1{
        font-size: 40px;
    }
    header h2{
        font-size: 25px;
        padding-top: 0px;
        border: 0px;
        text-align: center;
    }


}